# Ignore node_modules directory
node_modules

# Ignore log files
*.log

# Ignore environment variables file (if you don't want to include it in the image)
.env

# Ignore Dockerfile and .dockerignore file
Dockerfile
.dockerignore

# Ignore local development files
.vscode
.idea
*.swp

# Ignore test files and directories
test
tests
*.spec.js
*.test.js

# Ignore temporary files and directories
tmp
temp
*.tmp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build artifacts
dist
build

# ignore model_dir
/model_dir

# ignore imagetest
/imagetest
